@charset "utf-8";
/*size pc-(2560px), mo-(2560px)*/
/*size pc-(1280px), mo-(800px)*/

#wrapper,
#wrapper #wrap,
#wrapper #wrap .container{width: 100%;height: 100vh;}

.section{position: relative;width: 100%;height: 100%;}
.section .cont_wrap{display: flex;flex-direction: column;align-items: center;justify-content: center;width: 100%;height: 100%;}

/* .sec01::after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../images/temp_1.jpg) no-repeat center center;background-size: 100% 100%;opacity: 0.3;} */
.section1{position: absolute;top: 0;left: 0;background-image: url('../images/p_m_bg.jpg');background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;z-index: 1;}
.section1 .cont_wrap{padding-top: 0;}
.section1 .title{width: 100%;max-width: calc(1738px / 2);}
.section1 .content{width: 100%;max-width: calc(1035px / 2);margin: 20px 0 45px;}
.section1 .btn{width: 100%;max-width: calc(709px / 2);}

/* .question::after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url('../images/temp_3.jpg') no-repeat center center;background-size: 100% 100%;opacity: 0.3;} */
.question{background-image: url('../images/p_q_bg.jpg');background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.question .cont_wrap{padding-top: 0;}
.question .title{width: 100%;max-width: calc(1960px / 2);}
.question .btnBox{display: flex;align-items: center;justify-content: center;width: 100%;margin-top: 50px;}
.question .btnBox .btn{width: 100%;margin-right: 45px;}
.question .btnBox .btn:last-child{margin-right: 0px;}
.question .btnBox .btn input[type="radio"]{display: none;width: 0;height: 0;}
.question .btnBox .btn input[type="checkbox"]{display: none;width: 0;height: 0;}

/* question */
.question .btn input[type="radio"] + label{display: inline-block;background: none;}
.question .btn input[type="radio"]:checked + label{display: inline-block;background: none;z-index: 1;}
.question .btn input[type="checkbox"] + label{display: inline-block;background: none;}
.question .btn input[type="checkbox"]:checked + label{display: inline-block;background: none;z-index: 1;}
.question .btn label{position: relative;display: inline-block;width: 100%;height: 100%;}
/* question 1 */
.question1 .btnBox .btn{width: 100%;max-width: calc(400px / 2);height: calc(580px / 2);}
.question1 .btnBox .btn_1 input[type="radio"] + label{background-image: url('../images/p_2_btn_1_off.png');background-size: 100% 100%;}
.question1 .btnBox .btn_1 input[type="radio"]:checked + label{background-image: url('../images/p_2_btn_1_on.png');background-size: 100% 100%;}
.question1 .btnBox .btn_2 input[type="radio"] + label{background-image: url('../images/p_2_btn_2_off.png');background-size: 100% 100%;}
.question1 .btnBox .btn_2 input[type="radio"]:checked + label{background-image: url('../images/p_2_btn_2_on.png');background-size: 100% 100%;}
.question1 .btnBox .btn_3 input[type="radio"] + label{background-image: url('../images/p_2_btn_3_off.png');background-size: 100% 100%;}
.question1 .btnBox .btn_3 input[type="radio"]:checked + label{background-image: url('../images/p_2_btn_3_on.png');background-size: 100% 100%;}
.question1 .btnBox .btn_4 input[type="radio"] + label{background-image: url('../images/p_2_btn_4_off.png');background-size: 100% 100%;}
.question1 .btnBox .btn_4 input[type="radio"]:checked + label{background-image: url('../images/p_2_btn_4_on.png');background-size: 100% 100%;}
/* question 2 */
.question2 .btnBox{margin-top: 30px;}
.question2 .btnBox .btn{position: relative;display: inline-block;width: 100%;max-width: calc(270px / 2);height: calc(489px / 2);}
.question2 .btnBox .btn.btn_6{max-width: calc(315px / 2);}
.question2 .btnBox .btn_1 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_1_off.png');background-size: 100% 100%;}
.question2 .btnBox .btn_1 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_1_on.png');background-size: 100% 100%;}
.question2 .btnBox .btn_2 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_2_off.png');background-size: 100% 100%;}
.question2 .btnBox .btn_2 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_2_on.png');background-size: 100% 100%;}
.question2 .btnBox .btn_3 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_3_off.png');background-size: 100% 100%;}
.question2 .btnBox .btn_3 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_3_on.png');background-size: 100% 100%;}
.question2 .btnBox .btn_4 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_4_off.png');background-size: 100% 100%;}
.question2 .btnBox .btn_4 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_4_on.png');background-size: 100% 100%;}
.question2 .btnBox .btn_5 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_5_off.png');background-size: 100% 100%;}
.question2 .btnBox .btn_5 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_5_on.png');background-size: 100% 100%;}
.question2 .btnBox .btn_6 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_6_off.png');background-size: 100% 100%;}
.question2 .btnBox .btn_6 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_6_on.png');background-size: 100% 100%;}
.question2 .btn_7{display: block !important;width: 100%;max-width: calc(370px / 2);height: calc(110px / 2);margin-top: 35px;}
.question2 .btn_7 input[type="checkbox"] + label{background-image: url('../images/p_3_btn_7_off.png');background-size: 100% 100%;}
.question2 .btn_7 input[type="checkbox"]:checked + label{background-image: url('../images/p_3_btn_7_on.png');background-size: 100% 100%;}
/* question 3 */
.question3 .btnBox .btn{width: 100%;max-width: calc(270px / 2);height: calc(489px / 2);}
.question3 .btnBox .btn_1 input[type="checkbox"] + label{background-image: url('../images/p_4_btn_1_off.png');background-size: 100% 100%;}
.question3 .btnBox .btn_1 input[type="checkbox"]:checked + label{background-image: url('../images/p_4_btn_1_on.png');background-size: 100% 100%;}
.question3 .btnBox .btn_2 input[type="checkbox"] + label{background-image: url('../images/p_4_btn_2_off.png');background-size: 100% 100%;}
.question3 .btnBox .btn_2 input[type="checkbox"]:checked + label{background-image: url('../images/p_4_btn_2_on.png');background-size: 100% 100%;}
.question3 .btnBox .btn_3 input[type="checkbox"] + label{background-image: url('../images/p_4_btn_3_off.png');background-size: 100% 100%;}
.question3 .btnBox .btn_3 input[type="checkbox"]:checked + label{background-image: url('../images/p_4_btn_3_on.png');background-size: 100% 100%;}
.question3 .btnBox .btn_4 input[type="checkbox"] + label{background-image: url('../images/p_4_btn_4_off.png');background-size: 100% 100%;}
.question3 .btnBox .btn_4 input[type="checkbox"]:checked + label{background-image: url('../images/p_4_btn_4_on.png');background-size: 100% 100%;}
.question3 .btnBox .btn_5 input[type="checkbox"] + label{background-image: url('../images/p_4_btn_5_off.png');background-size: 100% 100%;}
.question3 .btnBox .btn_5 input[type="checkbox"]:checked + label{background-image: url('../images/p_4_btn_5_on.png');background-size: 100% 100%;}
.question3 .btnBox .btn_6 input[type="checkbox"] + label{background-image: url('../images/p_4_btn_6_off.png');background-size: 100% 100%;}
.question3 .btnBox .btn_6 input[type="checkbox"]:checked + label{background-image: url('../images/p_4_btn_6_on.png');background-size: 100% 100%;}
/* question 4 */
.question4 .btnBox .btn{width: 100%;max-width: calc(400px / 2);height: calc(620px / 2);}
.question4 .btnBox .btn_1 input[type="radio"] + label{background-image: url('../images/p_5_btn_1_off.png');background-size: 100% 100%;}
.question4 .btnBox .btn_1 input[type="radio"]:checked + label{background-image: url('../images/p_5_btn_1_on.png');background-size: 100% 100%;}
.question4 .btnBox .btn_2 input[type="radio"] + label{background-image: url('../images/p_5_btn_2_off.png');background-size: 100% 100%;}
.question4 .btnBox .btn_2 input[type="radio"]:checked + label{background-image: url('../images/p_5_btn_2_on.png');background-size: 100% 100%;}
.question4 .btnBox .btn_3 input[type="radio"] + label{background-image: url('../images/p_5_btn_3_off.png');background-size: 100% 100%;}
.question4 .btnBox .btn_3 input[type="radio"]:checked + label{background-image: url('../images/p_5_btn_3_on.png');background-size: 100% 100%;}
.question4 .btnBox .btn_4 input[type="radio"] + label{background-image: url('../images/p_5_btn_4_off.png');background-size: 100% 100%;}
.question4 .btnBox .btn_4 input[type="radio"]:checked + label{background-image: url('../images/p_5_btn_4_on.png');background-size: 100% 100%;}
/* question 5 */
.question5 .btnBox .btn{width: 100%;max-width: calc(400px / 2);height: calc(620px / 2);}
.question5 .btnBox .btn_1 input[type="radio"] + label{background-image: url('../images/p_6_btn_1_off.png');background-size: 100% 100%;}
.question5 .btnBox .btn_1 input[type="radio"]:checked + label{background-image: url('../images/p_6_btn_1_on.png');background-size: 100% 100%;}
.question5 .btnBox .btn_2 input[type="radio"] + label{background-image: url('../images/p_6_btn_2_off.png');background-size: 100% 100%;}
.question5 .btnBox .btn_2 input[type="radio"]:checked + label{background-image: url('../images/p_6_btn_2_on.png');background-size: 100% 100%;}
.question5 .btnBox .btn_3 input[type="radio"] + label{background-image: url('../images/p_6_btn_3_off.png');background-size: 100% 100%;}
.question5 .btnBox .btn_3 input[type="radio"]:checked + label{background-image: url('../images/p_6_btn_3_on.png');background-size: 100% 100%;}
.question5 .btnBox .btn_4 input[type="radio"] + label{background-image: url('../images/p_6_btn_4_off.png');background-size: 100% 100%;}
.question5 .btnBox .btn_4 input[type="radio"]:checked + label{background-image: url('../images/p_6_btn_4_on.png');background-size: 100% 100%;}


@media (max-width: 1280px){
  .section .cont_wrap{justify-content: flex-start;}
  .section1 .cont_wrap{padding-top: 95px;}
  .question .cont_wrap{padding-top: 100px;}
}